.ficha__pets {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ficha__pets__item {
    display: flex;
    height: 196px;
    background-color: var(--cinza-claro-fundo);
}

.ficha__pets__item .Foto__pet {
    max-width: 148px;
    max-height: 148px;
    padding: 24px 0 0 24px;
}

.ficha__pets__item__texto h2 {
    font-size: 16px;
    font-weight: 600;
    color: var(--azul-backgroud);
    font-family: var(--fonte-poppins);
    padding: 16px 18px 8px 16px;
}

.ficha__pets__item__texto p {
    width: 160px;
    padding-left: 16px;
    font-family: var(--fonte-poppins);
    font-size: 14px;
    font-weight: 400;
    color: var(--cinza-escuro);
    line-height: 20px;
}

/*região---imagem icone mensagem---falar com responsável*/

.ficha__pets__item__texto h3 {
    padding: 30px 0 0 16px;
    font-family: var(--fonte-poppins);
    font-size: 12px;
    font-weight: 400;
    color: var(--cinza-escuro);
}

.ficha__pets__item__paragrafo {
    display: flex; 
    padding-left: 16px;
    padding-top: 8px;
}

.ficha__pets__item__paragrafo h4 {
    font-size: 10px;
    font-weight: 400;
    font-family: var(--fonte-poppins);
    color: var(--cinza-escuro);  
}

.ficha__pets__item__paragrafo img {
    padding-right: 8px;
    
}

@media screen and (min-width: 768px) {
    .ficha__pets {
        flex-direction: row;
        flex-wrap: wrap;
        height: 120vh;
        margin: 0 auto;
        width: 720px;
        padding-bottom: 8em;
    }
}

@media screen and (min-width: 1440px) {
    .ficha__pets {
        width: 70em;
        height: 70vh;
    }
    .ficha__pets__item {
        margin: 0 auto;
    }
}