.rodape {
    background-color: var(--verde-backgroud);
    position: relative;
    text-align: center;
    padding: 2em 0;

}

.rodape__paragrafo{
    font-family: var(--fonte-poppins);
    font-size: 16px;
    color: var(--branco);
    font-weight: 400;
    text-align: center;
}
