/* estilo dos icones */
.menu {
    display: flex;
}

.menu-item {
    display: flex;
    align-items: flex-end;
    padding-left: 48px;
    padding-top: 48px;
}

/* posição do logo da pagina inicial */

.logoBrancoContainer {
    text-align: center;
    list-style-type: none;
    padding-top: 100px; 
}

/* Boas vindas pagina inicial*/

.Titulo__boas-vindas {
    text-align: center;
    font-family: var(--fonte-IBM);
    color: var(--branco);
    font-weight: 500;
    font-size: 26px;
    padding: 24px 0 16px 0;
}

 /* estilo do logo azul da pagina de login e cadastro */

 .logo-adopet__item-azul {
    text-align: center;
    list-style-type: none;
    padding-top: 100px;
 }

 /* estilo de todos os paragrafos*/

 .Introducao__paragrafos {
    font-family: var(--fonte-poppins);
    font-size: 16px;
    font-weight: 400;
    color: var(--azul-backgroud);
    text-align: center;
    padding-top: 6em;
    padding-bottom: 24px;
    width: 312px;
    margin: 0 auto;
 }

 .paragrafo-item {
    padding-bottom: 14px;
    line-height: 21px;
 }

/* posição icone de perfil */

.menu-usuario {
    position: absolute;
    top: 40px;
    right: 13%;
}

/*----------------------------------------*/
/* logo branco da home*/
.menu-logo {
    display: none;
}

/* logo azul da pagina de cadastro e login*/
.logo-adopet__item__tablet {
    display: none;
}

/*----------------------------------------*/

/*tablet*/

@media screen and (min-width: 768px) {
    .menu-logo {
        display: flex;
        padding-top: 70px;
        padding-left: 49px;
    }

    .menu-item {
        padding-left: 65px;
    }

    /* posição do logo da pagina inicial */

    .logoBrancoContainer {
        padding-top: 175px;
    }

    /* Boas vindas pagina inicial*/

    .Titulo__boas-vindas {
        font-size: 28px;
    }

    /* posição do logo da pagina de cadastro e login */

    .logo-adopet__item__tablet {
        display: block;
        text-align: center;
        padding-top: 10em;
    }

    .logo-adopet__item-azul {
        display: none;
    }

    /* ________________________ */

    .Introducao__paragrafos {
        font-size: 18px;
    }

    /* posição icone de perfil */

    .menu-usuario {
        top: 40px;
        right: 13%;
    }
}