.backgroundHome {
    background-image: url(../img/Vector\ 1.svg),url(../img/Vector\ 4.svg),url(../img/Ilustração\ 1.svg),url(../img/Forma\ 2.svg);
    background-repeat: no-repeat;
    background-position: left top, left top,bottom 3em center,center right;
}

.backgroud_login_cadastro {
    background-image: url(../img/Patas.svg),url(../img/Vector\ 1.svg),url(../img/Vector\ 4.svg),url(../img/Forma\ 2\ inverte.svg);
    background-repeat: no-repeat;
    background-position:right top, left top, left top,left bottom 33%;
}

.backgroud__mensagem {
    background-image: url(../img/Vector\ 1.svg),url(../img/Vector\ 4.svg);
    background-repeat: no-repeat;
}

.backgroud_ficha_perfil {
    background-image: url(../img/Vector\ 1.svg),url(../img/Vector\ 4.svg);
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
    .backgroundHome {
        background-image: url(../img/Menu\ header\ Forma\ 1.svg),url(../img/home\ img\ backgroud.svg),url(../img/Ilustração\ 1.svg);
        background-position: left top, right, bottom 3em center;
    }

    .backgroud_login_cadastro {
        background-image: url(../img/Menu\ header\ Forma\ 1.svg),url(../img/home\ img\ backgroud.svg),url(../img/Patas\ tablet.svg);
        background-repeat: no-repeat;
        background-position: left top,right bottom 35%, top right;
    }

    .backgroud__mensagem {
        background-image: url(../img/Menu\ header\ Forma\ 1.svg),url(../img/home\ img\ backgroud.svg);
        background-repeat: no-repeat;
        background-position: top left,center right;
    }

    .backgroud_ficha_perfil {
        background-image: url(../img/Menu\ header\ Forma\ 1.svg),url(../img/home\ img\ backgroud.svg);
        background-repeat: no-repeat;
        background-position: top left,center right;
    }
}