.About__adopet {
    position: absolute;
    text-align: center;
    font-family: var(--fonte-poppins);
    color: var(--branco);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 248px;
    margin: 0 auto;
    padding-bottom: 24px;
    top: 318px;
    left: 0;
    right: 0;
}

.botao-cadastro__login {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 424px;
    left: 0;
    right: 0;
}

.botao__item {
    width: 180px;
    height: 40px;
    border-radius: 6px;
    background-color: var(--vermelho-botao);
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--fonte-poppins);
    color: var(--branco);
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .About__adopet {
        top: 447px;
    }

    .botao-cadastro__login {
        top: 565px;
    }

    .botao__item {
        width: 345px;
        height: 48px;
        font-size: 18px;
    }

    .About__adopet {
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) {
    .botao__item {
        width: 360px;
    }
}